head, body{
  background-color: #c4eed9;
  font-size: 16px;
}
head, body{
  font-family: Emberly;
  font-size: 15px;
  color: #41102d;
  font-weight: lighter;
  float: center;
  padding: 20px;

}
body, body{
  color: #533348;
  text-decoration: none;
}
head{
  font-family: Emberly;
  font-size: 18px;
  color: #41102d;
  margin: 2px;
  padding: 15px;
}